
extends ../layout

block content
  .wrapper.wrapper-content.animated.fadeInRight
    .row
      .col-lg-12
        .ibox.float-e-margins
          .ibox-title
            h5 Clientes
            .ibox-tools
              a.collapse-link
                i.fa.fa-chevron-up
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                i.fa.fa-wrench
              ul.dropdown-menu.dropdown-user
                li
                  a(href='#') Config option 1
                li
                  a(href='#') Config option 2
              a.close-link
                i.fa.fa-times
          .ibox-content
            input#filter.form-control.input-sm.m-b-xs(type='text', placeholder='Search in table')
            
            table.table(data-paging="true",data-filter='#filter',data-page-size="20")
              thead
                tr
                  th(data-toggle="true") Nombre
                  th(data-breakpoints='xs') Estado
                  
                  th(data-breakpoints='xs') Celular
                  th(data-breakpoints='xs') Ver
                  th(data-breakpoints='xs',data-hide="all") Direccion
                  th(data-breakpoints='xs',data-hide="all") Tipo de ID
                  th(data-breakpoints='xs',data-hide="all") Identificacion
                  th(data-breakpoints='xs',data-hide="all") Email
                  //- th(data-breakpoints='xs',data-toggle="true") ID
                  //- th First Name
                  //- th Last Name
                  //- th(data-breakpoints='xs',data-hide="all") Job Title
                  //- th(data-breakpoints='xs sm',data-hide="all") Started On
                  //- th(data-breakpoints='xs sm md', data-title='DOB',data-hide="all") Date of Birth
              tbody
                each cliente in clientes
                  tr
                    td=cliente.name
                    th
                      span.label.label-primary Al Dia

                    
                    td=cliente.celular
                    td
                      button.btn.btn-success.btn-eyes(type='button',onclick='window.location="/app/clientes/#{cliente._id}"',style='padding:3px 5px;')
                        i.fa.fa-link
                    td=cliente.direccion
                    td=cliente.tipo_id
                    td=cliente.identificacion
                    td=cliente.email
              tfoot
                tr
                  td(colspan='7')
                    ul.pagination.pull-right
